// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


th {
  padding: 15px;
}
td {
  padding: 15px;
}
table {
  background-image: url(footer_lodyas.png);
  color: purple;
  font-weight: bold;
}
.btn-default {
  margin: 12px;
  background: red;
  color: white;
  font-weight: bold;
  font-size: 50px;
}
h1 {
  font-weight: bold;
}